.reviewSlider {
  width: 100%;
  background-color: var(--extra-light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewSliderTitle {
  margin: 57px 0 32px;
  font-size: 40px;
  line-height: 56px;
  color: var(--black);
  font-weight: 700;
}

.reviewSliderContainer {
  position: relative;
  width: 100%; /* Измените на 100% для адаптивности */
  max-width: 1138px;
  padding: 50px;
}

.review {
  max-width: 341px;
  height: 272px;
  display: flex;
  flex-direction: column;
  padding: 22px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.1);
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.aboutUser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewName {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.reviewCity {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--dark-gray);
}

.reviewText {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

.swiperButtonPrev,
.swiperButtonNext {
  color: var(--mid-gray);
  transition: color 0.3s;
}

.swiperButtonPrev:hover,
.swiperButtonNext:hover {
  color: var(--primary);
}

.swiperPaginationBullet {
  background-color: var(--mid-gray);
  opacity: 1;
  transition: background-color 0.3s;
}

.swiperPaginationBulletActive {
  background-color: var(--primary);
}

@media screen and (max-width: 1919px) {
  .reviewSliderContainer {
    width: 738px;
    padding: 0 0 70px 0;
  }

  .review {
    width: 308px;
    height: fit-content;
    max-height: 272px;
  }
}

@media screen and (max-width: 767px) {
  .reviewSliderContainer {
    width: 340px;
    padding: 0 0 60px 0;
  }

  .review {
    width: 296px;
  }
}

@media screen and (max-width: 374px) {
  .reviewSliderContainer {
    width: 288px;
    padding: 0 0 70px 0;
  }

  .review {
    width: 244px;
    max-height: max-content;
  }
}
