.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1216px;
  margin: 80px auto;
}

.title {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.infoList {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 61px 0 0;
  gap: 32px;
}

.infoItem {
  max-width: 280px;
  display: flex;
  flex-direction: column;
}

.infoWrapper {
  margin: 0;
  padding: 0;
  width: 280px;
}

.infoIcon > svg {
  width: 72px;
  height: 72px;
}

.infoIcon {
  margin-bottom: 16px;
}

.infoTitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.infoDescription {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  color: var(--dark-gray);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

@media screen and (max-width: 1919px) {
  .container {
    max-width: 718px;
    margin: 56px auto;
  }

  .infoList {
    margin: 42px 0 0;
    gap: 32px 34px;
    flex-wrap: wrap;
  }

  .infoItem {
    max-width: 342px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .infoIcon > svg {
    width: 56px;
    height: 56px;
  }

  .infoIcon {
    margin-bottom: 0;
  }

  .infoWrapper {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 342px;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .infoList {
    margin: 26px 0 0;
    gap: 32px;
  }

  .infoItem {
    max-width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .container {
    max-width: 288px;
  }

  .infoWrapper {
    width: 216px;
  }
}
