.header {
  position: fixed;
  top: 0;
  left: calc(50% - 1920px / 2);
  z-index: 2;
  height: 80px;
  width: 1920px;
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background: transparent;
}

.headerScrolled {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: calc(50% - 1920px / 2);
  z-index: 2;
  height: 80px;
  width: 1920px;
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.logo {
  margin-left: 352px;
  width: 120px;
  height: 24px;
}

.desktopNavigation {
  display: block;
}

.navigationList {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 355px;
}

.navigationItem {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.navigationItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.laptopNavigation {
  display: none;
}

.burgerButton {
  background: transparent;
  padding: 25px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.crossBtn {
  background: transparent;
  padding: 25px 18px 25px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: var(--white);
  width: 768px;
  height: 100vh;
}

.menuHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoMenu {
  width: 120px;
  height: 24px;
  margin-left: 16px;
}

.menuList {
  margin: 0 18px 0 16px;
  padding: 0;
  list-style: none;
  color: var(--black);
}

.menuItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--light-gray);
}

.menuItem:last-of-type {
  border-bottom: 1px solid var(--light-gray);
}

.menuItem:hover {
  cursor: pointer;
}

.menuItemText {
  font-size: 18;
  line-height: 32px;
  font-weight: 400;
  color: var(--gray);
  padding: 16px 0;
}

@media screen and (max-width: 1919px) {
  .header {
    left: calc(50% - 768px / 2);
    width: 768px;
  }

  .headerScrolled {
    background-color: var(--primary);
    left: calc(50% - 768px / 2);
    width: 768px;
  }

  .logo {
    margin-left: 16px;
  }

  .desktopNavigation {
    display: none;
  }

  .laptopNavigation {
    display: block;
  }

  .menu {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header {
    left: calc(50% - 375px / 2);
    width: 375px;
  }

  .headerScrolled {
    background-color: var(--primary);
    left: calc(50% - 375px / 2);
    width: 375px;
  }

  .menu {
    width: 375px;
  }
}

@media screen and (max-width: 374px) {
  .header {
    left: calc(50% - 320px / 2);
    width: 320px;
  }

  .headerScrolled {
    left: calc(50% - 320px / 2);
    width: 320px;
  }

  .menu {
    width: 320px;
  }
}
